.onboard {
    @extend .mt\+\+\+\+;
    @extend .margin-center;

    width: 300px;

    &__label {
        @extend .block;
        @extend .w1\/1;
        @extend .fw\+;
        
        text-align: center;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        @extend .w1\/1;
        @extend .mt\+;
    }

    &__error {
        @extend .none;
        @extend .fs\-;
        @extend .fw\+;

        &--active {
            @extend .block;
        }
    }

    &__submit {
        @extend .block;
        @extend .margin-center;
        @extend .mt\+\+;
    }
}