$brand-primary: #F56363;
$brand-secondary: #F5EFEF;

$text-primary: #676767;
$text-error: #BD3D3D;
$text-success: #3DBD6F;

$border-color: #E7E4E4;

$font-primary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;